<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.bentigorlich.littlehelper"
    android:versionName="@string/version">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:permission="android.permission.BLUETOOTH"
        android:theme="@style/AppTheme.PopupOverlay">

        <activity
            android:name="de.bentigorlich.littlehelper.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.bentigorlich.littlehelper.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="de.bentigorlich.littlehelper.MainActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <service
            android:name="de.bentigorlich.littlehelper.NotificationListener"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>